*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    background-color: #b0db43;
}

.nosotros{
    padding: 30px;
    margin: 30px;
    height: 100%;
}

.card {
    border: none;
}

.myCard{
    border: none;
    width: 90%;
    margin: 30px auto;
}

.card-body-1{
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.card-img-top{
    background-size: cover;
    background-position: center;
}

h4{
   text-decoration: solid ;
   margin-top: 4px;
   font-weight: 700;
}

h5{
    font-weight: 500;
    text-decoration: solid;
}


/* productos inicia*/

h2{
    text-align: center;
    margin: 20px;

}
.galeria{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 200px);
    padding: 20px;
    grid-gap: 15px;
}

.item{
    border: 5px solid #b0db43;
    background-size: cover;
    background-position: center;
}
.item1{
    background-image: url(img/cereales.jpg);
}

.item2{
    background-image: url(img/legumbres.jpg);
}
.item3{
    background-image: url(img/cuidado\ personal.jpg);
}

.item4{
    background-image: url(./img/pexels-josh-sorenson-1546890.jpg);
}

.item5{
    background-image: url(./img/pexels-roman-odintsov-5837002.jpg);
}

.item6{
    background-image: url(./img/pexels-saul-rivera-17605670.jpg);
}

.myform{
    margin-left: auto;
    max-width: 50%;
    margin-right: auto;
    margin-top: 30px;
}

/* inicio media queries */

@media only screen and (min-width:480px){
    .galeria{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1, 200px ;}
}


/* fin media queries */


/* productos fin*/
/* 
header{
    background-color:#b0db43;
    height: 70px;
    font-size: 20px;
    padding: 20px;
} */
/* 
.logo{
    float: left;
    color: #61210f;
    font-weight: bold;
    font-size: 30px;
}

.barra{
    float: right;
}

.barra ul li {
    list-style: none;
    display: inline-block;
}

.barra a {
    text-decoration: none;
    color: #61210f;
}

.barra a:hover{
    color: #f0edee;
}

main{
    height:100vh;
    width: 100%;
    background-color: #f0edee;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.call{
    color: black;
    margin: 30px;
    padding: 20px;
    font-size: 15px;

}

.imagen1 img{
    width: 100%;
}

.imagen1 {
    margin: 30px;
    padding: 20px;  
}

h1{
    margin-bottom: 20px;
} */

footer{
    background-color: #b0db43;
    color: #61210f;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.redes a{
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 10px;
    color: #61210f;
}
